In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [51]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, cast, Date

In [93]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite",echo=False)

In [14]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

inspector = inspect(engine)
inspector.get_table_names()

# reflect the tables

['measurement', 'station']

In [18]:
# We can view all of the classes that automap found
inspector.get_table_names()

columns = inspector.get_columns('measurement')
print(f"measurement columns:")
for column in columns:
    print(column["name"], column["type"])

print("")

columns = inspector.get_columns('station')
print(f"station columns:")
for column in columns:
    print(column["name"], column["type"])

measurement columns:
id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

station columns:
id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [28]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station
session = Session(engine)

#date_str = "05"
#may_average = session.query(*sel).filter(func.strftime("%m", Dow.date) == date_str).group_by(Dow.stock).order_by(Dow.stock).all()
#may_average

In [30]:
# Create our session (link) from Python to the DB
measure = session.query(Measurement.date).limit(10).all()
measure
station = session.query(Station.station).limit(10).all()
station

[('USC00519397'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519523'),
 ('USC00519281'),
 ('USC00511918'),
 ('USC00516128')]

In [218]:
#engine.execute('SELECT * FROM measurement where date between ((select max(date) from measurement) - 365) and (select max(date) from measurement) order by date').fetchall()

#engine.execute('select min(date),max(date),max(date) - 1 from measurement').fetchall()

import datetime as dt

#mdate = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
# Get the maximum date from the Measurement Date column
maxDateList = session.query(func.max(func.date(Measurement.date).label('maxDate'))).first()
year, month, day = map(int, maxDateList[0].split('-'))
maxdate = dt.date(year, month, day)
maxDate1YearAgo = maxdate - dt.timedelta(days=365)

#2017-08-20	NaN

#prcpDateData = session.query(Measurement.date,Measurement.prcp).filter(Measurement.date >= maxDate1YearAgo).filter(Measurement.prcp > 0).order_by(Measurement.date).all()

prcpDateData = session.query(Measurement.date,Measurement.prcp).filter(Measurement.date == '2016-08-24').filter(Measurement.prcp > 0).order_by(Measurement.date).all()

prcpDateData
#df = pd.read_sql(session.query(Measurement.date,Measurement.prcp).filter(Measurement.date >= maxDate1YearAgo).filter(Measurement.prcp > 0).statement,session.bind)

#df.columns
#df.groupby("date").prcp.sum()

[('2016-08-24', 0.08),
 ('2016-08-24', 2.15),
 ('2016-08-24', 2.28),
 ('2016-08-24', 1.22),
 ('2016-08-24', 2.15),
 ('2016-08-24', 1.45)]

# Exploratory Climate Analysis

In [115]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

#engine.execute('SELECT * FROM measurement where date between ((select max(date) from measurement) - 365) and (select max(date) from measurement) order by date').fetchall()

#engine.execute('select max(date) from measurement').fetchall()

import datetime as dt
#[('2017-08-23')]
#mdate = session.query(func.max(func.date(Measurement.date).label('maxDate'))).first()
mdate = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
#query_date = dt.date(2011, 4, 8) - dt.timedelta(days=7)
Oneyearago = mdate - 365
#dt.date(mdate)


#md = session.query(func.max(func.date(Measurement.date).label('maxDate'))).subquery()

#maxData = session.query(Measurement.date,Measurement.prcp).filter(Measurement.date.in_(md))

#maxDate
#measure




# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

TypeError: unsupported operand type(s) for -: 'result' and 'int'

In [44]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`